body {
    background-color: rgb(224, 224, 224);
}
.header {
    text-align: center;
    background-color: white;
}

.nav{
    display: flex;
    flex-direction: row;
}

.nav a {
    flex: 1;
    display: flex;
    text-decoration: none;
    color: white;
    background-color: black;
    justify-content: center;

}

.nav a:hover{
    background-color: white;
    color: black;
}

.article--socialmedia a{
    text-decoration: none;
    color: black;
}
.container{
    display: flex;
    justify-content: space-between;
}
.main{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.aside{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 20px;
}

.article {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
}

.section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
}

.dialog{
    background-color: silver;
    height: 100px;
    margin: 5px;
}

.footer{
    text-align: center;
    background-color: white;
}
.section--contact{
    
}